@charset "utf-8";

@import url(font-awesome.min.css);
@import url(reset.css);

header { /*顶部菜单栏样式*/
    background-color: #238cee;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    .app-title { /*标题*/
        color: #fff;
        font-size: 22px;
        height: 100%;
        letter-spacing: 1px;
        line-height: 60px;
        text-align: center;
    }

    .app-menu-btn { /*侧边栏按钮*/
        color: #fff;
        cursor: pointer;
        height: 40px;
        left: 5%;
        line-height: 40px;
        padding: 0;
        position: absolute;
        top: 10px;
    }
}

main { /*主体部分*/
    position: absolute;
    top: 80px;
    width: 100%;

    .todo-list { /*待做事项*/
        display: none;
        margin: 0 auto;
        overflow: auto;
        padding: 0 0 100px 0;
        position: absolute;
        width: 100%;
    }

    .completed-list { /*完成事项*/
        display: none;
        padding-bottom: 100px;
        position: absolute;
        width: 100%;

        span {
            opacity: .4;
            text-decoration: line-through;
        }
    }

    .task-item {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        height: 20px;
        margin: 0 auto 15px;
        overflow: auto;
        padding: 20px 0;
        position: relative;
        width: 90%;

        span {
            font-size: 20px;
            float: left;
            width: 70%;
            margin-left: 14px;
            font-weight: 200;
        }

        i {
            display: none;
        }
    }

    .clear-task, .finish-task {
        color: #888;
        cursor: pointer;
        font-size: 28px;
        line-height: 28px;
        padding: 4px;
        position: absolute;
        top: 12px;
    }

    .clear-task {
        right: 52px;
    }

    .finish-task {
        right: 12px;
    }

    .add-content {
        background-color: #fff;
        display: none;
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;

        input {
            background-color: transparent;
            border-bottom: 2px dotted #BDBDBD;
            color: #212121;
            display: block;
            font-size: 22px;
            padding: 5px;
            height: 35px;
            margin: 80px auto 0;
            width: 90%;
        }
    }

    .btn-box { /*按钮*/
        bottom: 3%;
        //加入cursor会导致长按出现蓝色覆盖层
        //cursor: pointer;
        position: fixed;
        right: 5%;
        z-index: 10;

        .add-btn {
            background-color: #FFC107;
            border-radius: 30px;
            bottom: 0;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
            color: #FFF;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
            outline: none;
            position: relative;
            right: 0;
            text-align: center;
            width: 60px;
            z-index: 1;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
        }

        .ok-add-btn {
            background-color: #757575;
            border-radius: 30px;
            bottom: 0;
            color: #fff;
            height: 60px;
            line-height: 60px;
            position: absolute;
            right: 0;
            text-align: center;
            width: 60px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
    }
}

